.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #EFE2D5;
  height: var(--header-height);
  /* borrá el border-bottom */
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px; /* más número = más arriba */
  height: 2px;
  background: var(--color-brown);
}

.header-inner {
  width: 100%;
  height: 100%;
  padding: 0 clamp(20px, 3.4vw, 64px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  font-family: var(--font-heading);
  font-size: 3rem;
  color: var(--color-orange);
  text-transform: uppercase;
  position:relative;
  top: -10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-nav a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-brown);
  transition: color 0.2s ease;
  position: relative;
  left: 0px;
  top: -3px;
}

.header-nav a:hover {
  color: var(--color-orange);
}

.header-lang {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-brown);
  color: var(--color-brown);
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header-lang:hover {
  background: var(--color-brown);
  color: var(--color-white);
}

.header-cta {
  padding: 10px 25px;
  font-size: 0.80rem;
  position: relative;
  right: 4px;
  top: -3px;
  gap: 8px;
}

.header-cta-icon {
  display: none;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

@media (min-width: 900px) {
  .header-logo {
    font-size: 3rem;
  }
}

@media (max-width: 899px) {
  .header-logo {
    font-size: 1.8rem;
    top: 0;
  }
  .header-lang {
    width: 32px;
    height: 32px;
    font-size: 0.7rem;
  }

  .header-inner {
    padding: 0 14px;
  }

  .header-right {
    gap: 8px;
  }

  .header-nav {
    gap: 10px;
  }

  .header-nav a {
    font-size: 0.72rem;
    top: 0;
  }

  .header-nav-pedir {
    display: none;
  }

  .header-cta {
    width: 32px;   /* antes: 40px */
    height: 32px;  /* antes: 40px */
    padding: 0;
    border-radius: 50%;
    right: 0;
    top: 0;
  }

  .header-cta-icon {
    display: block;
  }

  .header-cta-text {
    display: none;
  }
}
