.sabores {
  background: var(--color-cream);
  padding: 90px 24px 110px;
  scroll-margin-top: var(--header-height);
}

.sabores-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.sabores-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start; /* antes: space-between */
  flex-wrap: wrap;
  gap: 5px 10px; /* el 40px es la distancia entre los dos */
  margin-bottom: 32px;
}

.sabores-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: clamp(4rem, 9vw, 5rem);
  color: var(--color-orange);
  line-height: 1;
  position: relative;
}

.sabores-subtitle {
  max-width: 340px;
  font-size: 1.05rem;
  line-height: 1.5;
  color: var(--color-brown);
  position: relative;
}

.sabores-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 35px; /* filas | columnas */
}

.sabor-card {
  background: var(--color-card);
  border: 2px solid var(--color-brown);
  border-radius: 24px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  aspect-ratio: 2.8 / 3.8 ;
}

.sabor-card:hover {
  transform: scale(1.05) rotate(-1.5deg);
  box-shadow: 10px 15px 0 var(--color-brown); /* derecha, abajo, blur 0, color */
  z-index: 2;
}

.sabor-photo {
  width: clamp(120px, 12vw, 170px);
  height: clamp(120px, 12vw, 170px);
  object-fit: contain;
  margin-bottom: 10px;
  transform: translateY(30px) scale(1.7);
}

.sabor-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-brown);
  margin-bottom: 8px;
  margin-top: 70px;
  transform: scale(1.2); /* 1.2 = 20% más grande */
}

.sabor-desc {
  font-size: 0.92rem;
  line-height: 1.45;
  color: var(--color-brown);
}

.sabor-card-cta {
  background: var(--color-orange);
  border-color: var(--color-orange);
  justify-content: center;
  cursor: pointer;

  aspect-ratio: auto;   /* le saca la proporción de las otras */
  height: 150px;        /* alto que quieras */
  grid-column: span 1;  /* ancho: cuántas columnas ocupa (1 a 4) */
}

.sabor-card-cta:hover {
  background: var(--color-brown);
  border-color: var(--color-brown);
}

.sabor-cta-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-white);
  margin-bottom: 8px;
}

.sabor-cta-desc {
  font-size: 0.92rem;
  line-height: 1.45;
  color: var(--color-cream-light);
}

@media (max-width: 900px) {
  .sabores-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sabor-card {
    aspect-ratio: auto;
  }

  .sabor-card-cta {
    grid-column: 1 / -1;
  }
}

@media (max-width: 520px) {
  .sabores-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .sabores-header {
    margin-bottom: -170px;
  }

  .sabores-title,
  .sabores-subtitle {
    top: -215px;
  }
}
